body{
    background-color: gray;
}
.text {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

nav{
    border: 1px dashed red;
}

ul{
    display: flex;
    justify-content: space-around;
    
}

ul > li {
    list-style: none;

}